<article id='activity_<%= activity.id %>' class='activity' style='<%= @style %>'>
  <var class='activity-id'><%= activity.id -%></var>
  <div class='activity-header'>
    <div class='calendar'>
      <span class="date">
      	<span class="month">
      		<%= short_month_name( activity.when.month ) %>
      	</span>
      	<span class="day">
      		<%= activity.when.day %>
      	</span>
      </span>
    </div>
    <div class='what'>
      <%= activity.what -%>
    </div>
    <div class='likes'>
      <iframe src="http://www.facebook.com/plugins/like.php?app_id=113008035468847&href=wanderphiles.com%2Factivity%2Fzxcv&send=false&layout=button_count&width=50&show_faces=false&action=like&colorscheme=light&font&height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:60px;" allowTransparency="true"></iframe>
    </div>
    <br style='clear:both;'/>
  </div>
  <p class='details'>
    <%- unless activity.where.blank? -%>
      <b>at</b>&nbsp;<%= activity.where -%>
    <%- end -%>
    <%- unless activity.in.blank? -%>
      <b>in</b>&nbsp;<%= activity.in -%>
    <%- end -%>
    <%- unless activity.with.empty? -%>
      <b>with</b>
      <%- activity.with.each_with_index do |friend, i| -%>
        <a href='//www.facebook.com/<%= friend['id'] %>'><%= friend['name'] %></a><%- if i == activity.with.size - 2 -%> and <%- elsif i == activity.with.size - 1 -%><%- else -%>, <%- end -%>
      <%- end -%>
    <%- end -%>
  </p>
  <%= simple_format( activity.desc, :class => 'description' ) %>
  <p class='actions'>
    Edit&nbsp;&nbsp;&nbsp;
    <a href='#' class='delete-activity'>Delete</a>
  </p>
  <div class='comments'><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="wanderphiles.com/activities/<%= activity.id %>" num_posts="5" width="500"></fb:comments></div>
</article>