<div id="new-activity">
  <%= form_for @activity, :html => { :id => 'activity-form' } do |f| %>
    <p>
      <%= f.label :title %><br/>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :date %><br/>
      <input type='date' id='occurred_on'/>
      <%= f.hidden_field :occurred_on %>
    </p>
    <p>
      <%= f.label :with %>&nbsp;&nbsp;&nbsp;<a href='#' id='open-friend-picker-btn'>Choose Friends</a><br/>
      <%= f.hidden_field :with %>
    </p>
    <div id='chosen-friends'></div>
    <p>
      <%= f.label :description %><br/>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :post_to_facebook %>&nbsp;
      <%= f.check_box :post_to_facebook %>
    </p>
    <p>
      <a href='#' id='save-activity-btn'>Save</a>&nbsp;&nbsp;&nbsp;
      <a href='#' id='cancel-btn'>Cancel</a>
    </p>
  <% end %>
  <div id='friend-picker-container' class='rcw'>
    <div id="friend-picker"></div>
    <a href='#' id='choose-friends-btn'>Ok</a>
    <a href='#' id='cancel-friends-btn'>Cancel</a>
  </div>
</div>
