<header>
  <%= render 'common/title_bar' %>
  <%= render 'common/action_bar' %>
</header>
<section id='activities'>
  <header>
    <%= render 'menu_bar' %>
  </header>
  <%= render 'new_activity' %>
  <div id='activity-list'>
    <%= render :partial => 'activity', :collection => @activities %>
  </div>
</section>
<footer>
</footer>
<script type='text/javascript'>
  $(document).ready(function() {
    WP.initActivitiesPage();
  });
</script>
